amazons3/src/main/app/delete_object.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<flow name="delete_object_in_awsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/delete" doc:name="HTTP"/>
		<s3:delete-objects config-ref="Amazon_S3__Basic_Configuration" bucketName="culkid278"  doc:name="Amazon S3" >
		</s3:delete-objects>
		<set-payload value="#[payload]" doc:name="Set Payload"/>
	</flow>
</mule>
