api_accounts/src/main/app/email-search.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="email-searchFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/emailsearch" allowedMethods="GET" doc:name="HTTP"/>
		<http:request config-ref="Accounts_API" path="email/{email}" method="GET" doc:name="HTTP">
			<http:request-builder>
				<http:uri-param paramName="email" value="#[message.inboundProperties.'http.query.params'.email]"/>
			</http:request-builder>
		</http:request>
	</flow>
</mule>
