jms-consumer-demo/src/main/app/jms-consumer-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
	<flow name="jms-consumer-demoFlow">
		<jms:inbound-endpoint queue="q1" connector-ref="Active_MQ" doc:name="JMS"/>
		<logger message="consumer demo triggered...." level="INFO" doc:name="Logger"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<file:outbound-endpoint path="jms-msg" outputPattern="#[server.nanoTime()].json" responseTimeout="10000" doc:name="File"/>
	</flow>
</mule>
