consolidate-api/src/main/app/consolidate-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="api" doc:name="HTTP Listener Configuration"/>
	<http:request-config name="HTTP_Request_Configuration" host="localhost" port="8888" basePath="customer/api" doc:name="HTTP Request Configuration"/>
	<http:request-config name="HTTP_Request_Configuration1" host="localhost" port="9999" basePath="account" doc:name="HTTP Request Configuration"/>
	<flow name="consolidate-apiFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/consolidate" allowedMethods="GET" doc:name="HTTP"/>
		<scatter-gather doc:name="Scatter-Gather">
			<processor-chain>
				<http:request config-ref="HTTP_Request_Configuration" path="getall" method="GET" doc:name="Customer_API"/>
				<byte-array-to-object-transformer doc:name="Byte Array to Object"/>
				<set-variable variableName="cvar" value="#[payload]" doc:name="Cust_variable"/>
				<logger message="after customer API #[flowVars.cvar]" level="INFO" doc:name="Logger"/>
			</processor-chain>
			<processor-chain>
				<http:request config-ref="HTTP_Request_Configuration1" path="accounts" method="GET" doc:name="Accounts_API"/>
				<byte-array-to-object-transformer doc:name="Byte Array to Object"/>
				<set-variable variableName="avar" value="#[payload]" doc:name="Acc_variable"/>
				<logger message="after Accounts_API #[flowVars.avar]" level="INFO" doc:name="Logger"/>
			</processor-chain>
		</scatter-gather>
	</flow>
</mule>
