.mule/apps/exception-handling/classes/choice_exception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="choice_exceptionFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/choiceexception" doc:name="HTTP"/>
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from salesforce456]]></db:parameterized-query>
		</db:select>
		<json:object-to-json-transformer doc:name="Object to JSON"/>
		<file:outbound-endpoint path="G:\Users\dell\Desktop\ch" outputPattern="#[server.nanoTime()].json" responseTimeout="10000" doc:name="File"/>
		<set-payload value="No errors.... check the file output" doc:name="Set Payload"/>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy when="#[exception.causedBy(java.sql.SQLSyntaxErrorException)]" doc:name="database error handling">
				<set-payload value="check in database" doc:name="Set Payload"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causedBy(java.io.IOException)]" doc:name="file error handling">
				<set-payload value="check in file connector" doc:name="Set Payload"/>
			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
</mule>
