restconsumer/src/main/app/getemp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getempFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/getById" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="eid" value="#[flowVars.eid]" doc:name="Variable"/>
		<http:request config-ref="restAPI" path="employee" method="GET" doc:name="HTTP">
			<http:request-builder>
				<http:query-params expression="#[flowVars.eid]"/>
			</http:request-builder>
		</http:request>
	</flow>
</mule>
