soap-add/src/main/app/soap-add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap12" serviceAddress="http://www.dneonline.com/calculator.asmx" doc:name="Web Service Consumer"/>
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="soap" doc:name="HTTP Listener Configuration"/>
	<flow name="soap-addFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/add" doc:name="HTTP"/>
		<set-variable variableName="num1" value="#[message.inboundProperties.'http.query.params'.num1]" doc:name="Variable"/>
		<set-variable variableName="num2" value="#[message.inboundProperties.'http.query.params'.num2]" doc:name="Variable"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: flowVars.num1 as :number,
		ns0#intB: flowVars.num2 as :number
	}
	}
	]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="Divide" doc:name="Web Service Consumer"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	div_result:payload.ns0#DivideResponse.ns0#DivideResult
}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
