soap-calculator/src/main/app/soap-calculator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="soap" doc:name="HTTP Listener Configuration"/>
	<ws:consumer-config name="Calculator" wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap12" serviceAddress="http://www.dneonline.com/calculator.asmx" doc:name="Web Service Consumer"/>
	<flow name="soap-calculatorFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/execute" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="num1" value="#[message.inboundProperties.'http.query.params'.num1]" doc:name="Variable"/>
		<set-variable variableName="num2" value="#[message.inboundProperties.'http.query.params'.num2]" doc:name="Variable"/>
		<set-variable variableName="operator" value="#[message.inboundProperties.'http.query.params'.operator]" doc:name="operator"/>
		<choice doc:name="Choice">
			<when expression="#[(message.inboundProperties.'http.query.params'.operator) == 'add']">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: flowVars.num1 as :number,
		ns0#intB: flowVars.num2 as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Calculator" operation="Add" doc:name="Add"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	add_result:payload.ns0#AddResponse.ns0#AddResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[(message.inboundProperties.'http.query.params'.operator) == 'sub']">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: flowVars.num1 as :number,
		ns0#intB: flowVars.num2 as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Calculator" operation="Subtract" doc:name="Subtract"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	sub_result:payload.ns0#SubtractResponse.ns0#SubtractResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[(message.inboundProperties.'http.query.params'.operator) == 'mul']">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: flowVars.num1 as :number,
		ns0#intB: flowVars.num2 as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Calculator" operation="Multiply" doc:name="multiplication"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	mul_result:payload.ns0#MultiplyResponse.ns0#MultiplyResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: flowVars.num1 as :number,
		ns0#intB: flowVars.num2 as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Calculator" operation="Divide" doc:name="divide"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	div_result:payload.ns0#DivideResponse.ns0#DivideResult
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
</mule>
