filters-demo/src/main/app/filters-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="filters-demoFlow">
		<file:inbound-endpoint path="inbox" responseTimeout="10000" doc:name="File">
			<file:filename-regex-filter pattern="[a-zA-Z]*.txt" caseSensitive="true"/>
		</file:inbound-endpoint>
		<logger message="data has crossed regex filter" level="INFO" doc:name="Logger"/>
		<idempotent-message-filter idExpression="#[message.inboundProperties.timestamp]" throwOnUnaccepted="true" doc:name="Idempotent Message"/>
		<logger message="passed through idempotenet filter" level="INFO" doc:name="Logger"/>
		<wildcard-filter pattern="*mule*" caseSensitive="true" doc:name="Wildcard"/>
		<logger message="passed through wildcard filter" level="INFO" doc:name="Logger"/>
		<file:outbound-endpoint path="outbox" responseTimeout="10000" doc:name="File"/>
		<logger message="file came to  outbox filter" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
